engine-strict=true

# Set `version`, `author`, and `license` with these values when initializing package.json for each workspace.
init-version=0.0.0
init-license=UNLICENSED

//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@tongari07:registry=https://npm.pkg.github.com
link-workspace-packages=false